@using eAgenda.Dominio.ModuloCategoria
@model EditarDespesaViewModel

@{
    ViewBag.Titulo = "Edição de Despesa";
}

<div class="d-flex justify-content-center">
    <div class="col-sm-8 col-lg-6">
        <div class="border rounded-4 gap-2 p-2" style="background-color:white">
            <form class="container-fluid mt-3" asp-action="Editar" method="post">
                <div class="mb-3">
                    <label class="form-label fw-bold" asp-for="Descricao">Descrição:</label>
                    <input class="form-control" asp-for="Descricao" id="Descricao" type="text" placeholder="Descrição da despesa" value="@Model.Descricao" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold" asp-for="DataOcorrencia">Data:</label>
                    <input class="form-control" asp-for="DataOcorrencia" id="DataOcorrencia" type="date" value="@Model.DataOcorrencia.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DataOcorrencia" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold" asp-for="Valor">Valor:</label>
                    <input class="form-control" asp-for="Valor" id="Valor" type="text" placeholder="0,00"  value="@Model.Valor" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold" asp-for="FormaPagamento">Forma de Pagamento:</label>
                    <select class="form-select" asp-for="FormaPagamento" id="FormaPagamento" asp-items="@Model.FormasPagamentoDisponiveis"></select>
                    <span asp-validation-for="FormaPagamento" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold" asp-for="CategoriasSelecionadas">Categorias:</label>
                    <div class="mb-3">
                        @foreach (Categoria c in Model.CategoriasDisponiveis)
                        {
                            <input class="form-check-input" name="CategoriasSelecionadas" type="checkbox" value="@c.Id"
                                   @(Model.CategoriasSelecionadas != null && Model.CategoriasSelecionadas.Contains(c.Id) ? "checked" : "") />
                            <label class="form-check-label fw-bold">@c.Titulo</label>
                        }
                    </div>
                    <span asp-validation-for="CategoriasSelecionadas" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-end gap-2">
                    <a class="btn btnVoltar" asp-action="Index">Voltar</a>
                    <button class="btn btn-success" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>