@{
    var contatosSelecionado = ViewContext.HttpContext.Request.Path.StartsWithSegments("/Contatos") ? "btn btnMenuSelecionado px-3" : "nav-link btnMenu fw-semibold";
    var compromissosSelecionado = ViewContext.HttpContext.Request.Path.StartsWithSegments("/Compromissos") ? "btn btnMenuSelecionado px-3" : "nav-link btnMenu fw-semibold";
    var categoriasSelecionado = ViewContext.HttpContext.Request.Path.StartsWithSegments("/Categorias") ? "btn btnMenuSelecionado px-3" : "nav-link btnMenu fw-semibold";
    var despesasSelecionado = ViewContext.HttpContext.Request.Path.StartsWithSegments("/Despesas") ? "btn btnMenuSelecionado px-3" : "nav-link btnMenu fw-semibold";
    var tarefasSelecionado = ViewContext.HttpContext.Request.Path.StartsWithSegments("/Tarefas") ? "btn btnMenuSelecionado px-3" : "nav-link btnMenu fw-semibold";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Titulo - eAgenda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="background-color: whitesmoke">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow border-bottom" style="background-color: white">
            <div class="container">
                <a class="navbar-brand fw-semibold" asp-area="" asp-controller="Home" asp-action="Index">e-Agenda</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">

                    @if (User.Identity is not null && User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="@contatosSelecionado" href="/Contatos">Contatos</a>
                            </li>
                            <li class="nav-item">
                                <a class="@compromissosSelecionado" href="/Compromissos">Compromissos</a>
                            </li>
                            <li class="nav-item">
                                <a class="@categoriasSelecionado" href="/Categorias">Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="@despesasSelecionado" href="/Despesas">Despesas</a>
                            </li>
                            <li class="nav-item">
                                <a class="@tarefasSelecionado" href="/Tarefas">Tarefas</a>
                            </li>
                        </ul>

                        <div class="ms-5">
                            <form asp-controller="Autenticacao" asp-action="Logout" method="post">
                                <button 
                                    class="btn btn" 
                                    style="color: darkorange;" 
                                    type="submit" title="Sair">
                                    <i class="bi bi-box-arrow-left"></i>
                                </button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="mb-3 border-bottom">
            <h3 class="mt-2 mb-2">@ViewBag.Titulo</h3>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; @DateTime.Now.Year - Marlon Quilante
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
