@using eAgenda.Dominio.ModuloCompromisso
@model VisualizarCompromissoViewModel

@{
    ViewBag.Titulo = "Compromissos";
}

<div>
    <a class="btn btnTema mb-3" asp-action="Cadastrar" data-se="refCadastrar">
        <i class="bi bi-plus"></i>
        Cadastrar
    </a>
</div>

<div class="row g-2">
    @foreach (DetalhesCompromissoViewModel c in Model.Compromissos)
    {
        <div class="col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text mb-0"><strong>Assunto: </strong>@c.Assunto</p>
                    <p class="card-text mb-0"><strong>Data: </strong>@c.Data.ToString("dd/MM/yyyy")</p>
                    <p class="card-text mb-0"><strong>Horário: </strong>@c.HoraInicio.ToString(@"hh\:mm") - @c.HoraTermino.ToString(@"hh\:mm")</p>
                    <p class="card-text mb-0"><strong>Tipo: </strong>@c.Tipo</p>

                    @if (c.Tipo == TipoCompromisso.Presencial)
                    {
                        <p class="card-text mb-0"><strong>Local: </strong>@c.Local</p>
                    }
                    else
                    {
                        <p class="card-text mb-0"><strong>Link: </strong>@c.Link</p>
                    }

                    @if (c.Contato is null)
                    {
                        <p class="card-text mb-0"><strong>Contato: </strong></p>
                    }
                    else
                    {
                        <p class="card-text mb-0"><strong>Contato: </strong>@c.Contato.Nome</p>
                    }

                    <div class="d-flex justify-content-start mt-2">
                        <a class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-items-center" title="Editar" style="height: 35px; width: 35px" asp-action="Editar" asp-route-id="@c.Id" data-se="refEditar">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center" title="Excluir" style="height: 35px; width: 35px" asp-action="Excluir" asp-route-id="@c.Id" data-se="refExcluir">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>