@model VisualizarContatosViewModel

@{
    ViewBag.Titulo = "Contatos";
}

<div>
    <a class="btn btnTema mb-3" asp-action="Cadastrar">
        <i class="bi bi-plus"></i>
        Cadastrar
    </a>
</div>

<div class="row g-2">
    @foreach (DetalhesContatoViewModel c in Model.Contatos)
    {
        <div class="col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text mb-0"><strong>Nome: </strong>@c.Nome</p>
                    <p class="card-text mb-0"><strong>Telefone: </strong>@c.Telefone</p>
                    <p class="card-text mb-0"><strong>Email: </strong>@c.Email</p>
                    <p class="card-text mb-0"><strong>Empresa: </strong>@c.Empresa</p>
                    <p class="card-text mb-0"><strong>Cargo: </strong>@c.Cargo</p>

                    <div class="d-flex justify-content-start mt-2">
                        <a class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-items-center" title="Editar" style="height: 35px; width: 35px" asp-action="Editar" asp-route-id="@c.Id">
                            <i class="bi bi-pencil"></i>
                        </a>
                        @if (!c.Compromissos.Any())
                        {
                            <a class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center" title="Excluir" style="height: 35px; width: 35px" asp-action="Excluir" asp-route-id="@c.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-danger rounded-circle d-flex justify-content-center align-items-center disabled" title="Excluir" style="height: 35px; width: 35px" asp-action="Excluir" asp-route-id="@c.Id">
                                <i class="bi bi-trash"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>